.btn {
    padding: 10px;
    background-color: orangered;
    border: 1px black solid;
    margin: 20px;
}
.btn:hover{
    background-color: black;
    color: white;
    color: white;
    border: 1px solid white;
}