.navContainer{
    font-size: 28px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    width: 100%;
    top: 0px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  
.list {
  display: block;
  color:beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.list:hover {
  background-color: violet;
}
.imgNAV{
  width: 40px;
  height: 40px;

}
.cart{
  height: 25px;
  width: 25px;
}
.cartContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}



.titleContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}
.title{
  font-size: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color :gray

}
.title:hover{
  color:white;
  background-color: red;
  transform: translate(120px, 50%);
}